# Estimados de locaci√≥n y variabilidad

In [1]:
#Importando paquetes necesarios
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
#Lectura del DataFrame limpio
df = pd.read_csv('https://raw.githubusercontent.com/BettySanchez7/Proyecto_AnalisisDatosConPython/main/datos/datos_limpios_imeca/DF_all.csv')
df.head()

        fecha  hora  ...  sureste_monoxido_de_carbono  sureste_pm10
0  2005-01-01     1  ...                         29.0          87.0
1  2005-01-01     2  ...                         29.0          89.0
2  2005-01-01     3  ...                         31.0          90.0
3  2005-01-01     4  ...                         33.0          94.0
4  2005-01-01     5  ...                         35.0          98.0

[5 rows x 27 columns]